body {
  background-image: url('./assets/images/Spark7_I.jpg');
  background-size: 1%;
}

.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

  .off {
    background-color: #0000ff;
  }

  .on {
    background-color: #ff0080;
  }

  .box:hover {
    background: #9a3fa1;
  }

  .center {
    margin: auto;
    display: table;
    margin-top: 10px;
  }

  .grid {
    width: 150px;
    line-height: 0;
    margin: auto;
    box-shadow: 0px 0px 20px white;
    margin-top: 20px;
  }

  h1, h2, h3, h4 {
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
    margin-top: 10px;
  }
  
  h4 {
    margin-top: 0px;
  }